
body {
    background-color: lightgrey;
}

.center{
    height: 80%;
    width: 50%;
    position: absolute;
    top: 42.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 100%;
    width: 100%;
    border: 10px solid gold;

}

.box {
    float: left;
    outline: 1px solid black;
}



.inputs {
    text-align: center;
    margin: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
}


h1 {
    text-align: center;
}

t {
    font-size: 16pt;
    margin-right: 10px;
    margin-left: 10px;
}

input {
    font-size: 16pt;
    width: 50px;
    border: 1px solid black;
}

button {
    font-size: 16pt;
    height: 50px;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
}
